@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <div class="text-center">
            <h1><strong>ENB.Student Registration MVC (EF CORE)</strong></h1>
        </div>
    </div>
    <div class="text-center">
        <img src="~/images/studentregistration.png" class="rounded mx-auto d-block" alt="Responsive image" width="600" />
    </div>
</div>
